        @font-face {
            font-family: 'yg-jalnan';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
                *{
                    font-family: 'yg-jalnan';
                }
                a{
                    color : black;
                    text-decoration: none;
                }
                header{
                    align-items: center;
                }
                header > a > img{
                    width : 50px;
                    margin-right : 20px;
                }
                header > ul > li {
                    margin-left : 20px;
                }